ul li {
    display: inline;
    list-style-type: none;
    height: : 200px;
    padding: 20px;
    width: 200px;
    font-size: 10pt;
    background-color: red;

}
 li a:hover {
    border-top: 5px solid #004a80;
    border-bottom: 5px solid #004a80;
    font-weight:bold;
    color: pink;
}

li a:active {
    font-size:30pt;


}






